a{
padding: 20px;
}
img{

}
#phone{
  width: 20px;
  height: 20px;
}
.first{

display: flex;
flex-direction: column;
width: 300px;
height: 900px;
padding-left:20px;

}
.second{

  background-color: #f1f1f1;
  padding: 20px;
}
div{

  background-color:#EBDEF0 ;
}